* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
}





 .header {
    width: 100%;
    height: auto;
  }

 


  .header__inner {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

  }

 .header__logo {
      padding-top: 59px;
      padding-left: 56px;
      
  }

  .header__logo  img {
    width: 100%;
    max-width: 155px;
    height: 62px;
  }


  .nav {
      text-align: right;
      height: 70px;
      line-height: 70px;
  }

  .menu {
      margin:0 30px 0 0;
  }

  .menu a {
    clear: right;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #24A3FF;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    padding-right: 15px;
  }

  .about__span {
      color:#F0145A;
      border-bottom: 2px solid #F0145A;
  }

  label {
      margin: 0 40px 0 0 ;
      font-size: 26px;
      line-height: 70px;
      display: none;
  }
  #toggle {
      display: none;
  }

  @media only screen and (max-width: 800px){
      label {
          display: block;
          cursor: pointer;
      }
      .menu {
          text-align: center;
          width: 100%;
          display: none;
      }
      .menu a {
          display: block;
          margin: 0;
          padding: 20px;
          border-bottom: 1px solid #FFFFFF;
          text-align: center;
          font-size: 26px;
      }
      #toggle:checked + .menu {
          
          display: block;
      }
      .header__logo {
          padding: 10px ;
      }
      

  }




   .header__container-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        
  }

  .header__container-title {
        max-width: 700px;
        width: 100%;
        text-align: center;
        font-size: 38px;
        line-height: 45px;
        color: #FFFFFF;
        position: absolute;
        z-index: 1000;
        padding-top: 10%;
  }
  .header__container-img {
        margin-top: 10%;
        text-align: center;
        max-width: 450px;
        width: 100%;
        max-height: 500px;
        z-index: 0;
  }

  .header__container-arrow {
        margin-left: 42%;
        margin-bottom: 20px;
  } 

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
}
.about__block {
    margin-top: 86px;
    display: flex ;
}


.about__block-item--one {
    flex: 50%;
    
}

.block-item--title {
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 22px;
}

.block-item--text {
    font-size: 21px;
    line-height: 30px;
    color: #000000;
}

.about__block-item--two {
    border-left:  4px solid #E6E6F0;
}

.block-item--two-text {
    padding-bottom: 40px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #323264;
}

.block-item--two-pic {
    padding-left: 20px;
}

.photo {
    width: 100%;
    margin-top: 98px;
}

.photo-item {
   width: 100%;
}

.about__info {
    margin-top: 87px;
}

.about__info-block {
    display: flex;
    justify-content: space-between;
}

.info-block__item-one {
     flex:   50%;
  
     
}

.info-block__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.info-block__text {
    font-size: 21px;
    line-height: 30px;
    color: #000000;
}

.info-block__item-two{
    padding-left: 5%;
}

.achieve {
    width: 100%;
    background-color: #F5F5FA;
}

.carousel-block {
    padding-top:20px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    
}

.carousel__title {
    padding: 28px 0 30px 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
}

.carousel-indicators ol {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
   
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    width: 18px; 
    height: 15px; 
    padding: 0 ;
    

    margin-right: 14px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #6dc0fa;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 50%; 
}

.carousel-indicators [data-bs-target]:hover{
    background-color: #24A3FF;
    opacity: none;
}



.footer {
    border-top: 3px solid #E6E6F0 ;
    padding: 32px 20px;
    background-color: #F5F5FA;
}

.footer-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #323264;
}

.footer__block1 {
    display: flex;
    justify-content: center;
}

.footer-tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #46466E;
    padding-left: 17px;
    text-decoration: none;
}

.footer-tel::before  {
    content: '●';
    padding-right: 10px;
    font-size: 15px;
    vertical-align: text-bottom;
    color: #B3B3BA
}

.footer__block-info{
     display: flex;
     flex-direction: column;
  
}

.info-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
    padding-left: 31px;

}

.info-link::before  {
    content: '●';
    padding-right: 10px;
    font-size: 15px;
    vertical-align: text-bottom;
    color: #B3B3BA
}

.info-link-mail {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #24A3FF;
    text-decoration: none;
    margin-top: 25px;
    padding-left: 25px;
}

.info-link-mail::before  {
    content: '●';
    padding-right: 10px;
    font-size: 15px;
    vertical-align: text-bottom;
    color: #B3B3BA
}

.footer__info-right {
    margin-left: 29%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;  
    color: #B3B3BA;
   
}